*{
    padding:0;
    marging:0;
    box-sizing: border-box;
}
body{
    font-size:14px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding:20px;
}
.content{
    background-color: #eee;
    border:1px solid #999;
    padding:20px;
}
.content:after{
    content:"";
    display:block;
    clear:both;
}
.left,.center,.right{
    background-color: #fff;
    padding:20px;
    border:1px solid #999;
}
.left{
    width:200px;
    float:left;
}
.left img{
    width:80px;
    height:80px;
}
.left span{
    float:right;
}
.right{
    float:right;
    width:120px;
}
.right .pLogo{
    width:80px;
    height:80px;
}
.pLogo:not(.lastLogo){
    margin-bottom:20px;
}
.center{
    margin-left:220px;
    margin-right:140px;
}

